# Importing Packages

In [3]:
! pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 5.0 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 77 kB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 49.5 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [45]:
! pip install pygeocodio

Collecting geocodio
  Downloading geocodio-1.0.1.tar.gz (1.9 kB)
Requirement already satisfied: Requests>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geocodio) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->geocodio) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->geocodio) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->geocodio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->geocodio) (1.24.3)
Building wheels for collected packages: geocodio
  Building wheel for geocodio (setup.py) ... done
  Created wheel for geocodio: filename=geocodio-1.0.1-py3-none-any.whl size=2559 sha256=98101546615e00e7be6330ccd7c8162e5e67c37ad74bfa931f98878456f17ffa
  Stored in directory: /root/.cache/pip/wheels/6f/62/a4/3c0be7b21d037aca6c570966aa952953c134fa134b104a2c83
Successfully built geocodio
Installing collected packages: geocodio
Successfully installed geocodio-1.0.1

In [70]:
import pandas as pd
from datetime import datetime
import numpy as np
import geopandas as gpd
from geocodio import GeocodioClient

# settings to display all columns
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 20)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/NYC Property Sales/df_nyc_housing.csv', index_col=0)
data.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp
0,1,Alphabet City,03 Three Family Dwellings,1,376,24,C0,264 East 7th Street,,10009,3,0,3,2059,3696,1900-01-01,1.0,C0,7738700,2016-12-22,116,1
1,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3rd Street, 3e",,10009,0,0,0,0,0,1920-01-01,2.0,C6,390000,2016-06-16,96,1
2,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3 Street, 1c",,10009,0,0,0,0,0,1920-01-01,2.0,C6,1,2016-09-06,96,1
3,1,Alphabet City,09 Coops - Walkup Apartments,2,373,46,C6,"317 East 3rd Street, 9",,10009,0,0,0,0,0,1925-01-01,2.0,C6,635000,2016-02-18,91,1
4,1,Alphabet City,09 Coops - Walkup Apartments,2,373,49,C6,"311 East 3rd Street, 24",,10009,0,0,0,0,0,1920-01-01,2.0,C6,465000,2016-01-11,96,1

# Neighborhood (NTA) Names

In [71]:
data.NTA.value_counts()

Flushing-North             11242
Upper East Side (59-79)     8043
Upper East Side (79-96)     7019
Upper West Side (59-79)     6729
Bedford Stuyvesant          5378
                           ...
Nan                            5
Bloomfield                     4
Bronx Park                     3
Fresh Kills                    3
Rossville-Port Mobil           2
Name: NTA, Length: 254, dtype: int64

## NTA Shapefile

In [7]:
nta = gpd.read_file("/content/drive/MyDrive/Datasets/NYC Property Sales/NYC_NTA_2020/nynta2020.shp")
nta.head()

,BoroCode,BoroName,CountyFIPS,NTA2020,NTAName,NTAAbbrev,NTAType,CDTA2020,CDTAName,Shape_Leng,Shape_Area,geometry
0,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.355027,3.532200e+07,"POLYGON ((1003059.997 204572.025, 1002950.775 ..."
1,3,Brooklyn,047,BK0102,Williamsburg,Wllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28155.614845,2.886227e+07,"POLYGON ((995851.916 203199.332, 995969.192 20..."
2,3,Brooklyn,047,BK0103,South Williamsburg,SWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),18252.346383,1.520934e+07,"POLYGON ((998047.210 196303.325, 998157.901 19..."
3,3,Brooklyn,047,BK0104,East Williamsburg,EWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),43171.303949,5.226625e+07,"POLYGON ((1005302.497 199455.730, 1005307.792 ..."
4,3,Brooklyn,047,BK0201,Brooklyn Heights,BkHts,0,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,14337.911437,9.985391e+06,"POLYGON ((986367.735 190549.239, 985813.835 19..."

In [9]:
nta_key = nta[['NTA2020', 'NTAName']]
nta_key.head()

  NTA2020             NTAName
0  BK0101          Greenpoint
1  BK0102        Williamsburg
2  BK0103  South Williamsburg
3  BK0104   East Williamsburg
4  BK0201    Brooklyn Heights

In [11]:
queens = nta_key[nta_key.NTA2020.str.startswith('QN')].index
QN = nta_key.iloc[queens]
QN.head()

    NTA2020                              NTAName
156  QN0101     Astoria (North)-Ditmars-Steinway
157  QN0102            Old Astoria-Hallets Point
158  QN0103                    Astoria (Central)
159  QN0104      Astoria (East)-Woodside (North)
160  QN0105  Queensbridge-Ravenswood-Dutch Kills

In [72]:
nta_dict = dict(zip(nta_key.NTAName, nta_key.NTA2020))
nta_dict

{'Allerton': 'BX1104',
 'Alley Pond Park': 'QN1191',
 "Annadale-Huguenot-Prince's Bay-Woodrow": 'SI0304',
 'Arden Heights-Rossville': 'SI0303',
 'Astoria (Central)': 'QN0103',
 'Astoria (East)-Woodside (North)': 'QN0104',
 'Astoria (North)-Ditmars-Steinway': 'QN0101',
 'Astoria Park': 'QN0191',
 'Auburndale': 'QN1101',
 'Baisley Park': 'QN1203',
 'Barren Island-Floyd Bennett Field': 'BK5691',
 'Bath Beach': 'BK1102',
 'Bay Ridge': 'BK1001',
 'Bay Terrace-Clearview': 'QN0703',
 'Bayside': 'QN1102',
 'Bedford Park': 'BX0702',
 'Bedford-Stuyvesant (East)': 'BK0302',
 'Bedford-Stuyvesant (West)': 'BK0301',
 'Bellerose': 'QN1302',
 'Belmont': 'BX0603',
 'Bensonhurst': 'BK1101',
 'Borough Park': 'BK1202',
 'Breezy Point-Belle Harbor-Rockaway Park-Broad Channel': 'QN1403',
 'Brighton Beach': 'BK1303',
 'Bronx Park': 'BX2791',
 'Brooklyn Heights': 'BK0201',
 'Brooklyn Navy Yard': 'BK0261',
 'Brownsville': 'BK1602',
 'Bushwick (East)': 'BK0402',
 'Bushwick (West)': 'BK0401',
 'Calvary & Mount Zion Cemeteries': 'QN0271',
 'Calvert Vaux Park': 'BK1391',
 'Cambria Heights': 'QN1304',
 'Canarsie': 'BK1803',
 'Canarsie Park & Pier': 'BK1893',
 'Carroll Gardens-Cobble Hill-Gowanus-Red Hook': 'BK0601',
 'Castle Hill-Unionport': 'BX0903',
 'Central Park': 'MN6491',
 'Chelsea-Hudson Yards': 'MN0401',
 'Chinatown-Two Bridges': 'MN0301',
 'Claremont Park': 'BX0492',
 'Claremont Village-Claremont (East)': 'BX0302',
 'Clinton Hill': 'BK0204',
 'Co-op City': 'BX1004',
 'College Point': 'QN0701',
 'Concourse-Concourse Village': 'BX0401',
 'Coney Island-Sea Gate': 'BK1302',
 'Corona': 'QN0402',
 'Crotona Park': 'BX0391',
 'Crotona Park East': 'BX0303',
 'Crown Heights (North)': 'BK0802',
 'Crown Heights (South)': 'BK0901',
 'Cunningham Park': 'QN0891',
 'Cypress Hills': 'BK0501',
 'Douglaston-Little Neck': 'QN1103',
 'Downtown Brooklyn-DUMBO-Boerum Hill': 'BK0202',
 'Dyker Beach Park': 'BK1091',
 'Dyker Heights': 'BK1002',
 'East Elmhurst': 'QN0302',
 'East Flatbush-Erasmus': 'BK1701',
 'East Flatbush-Farragut': 'BK1702',
 'East Flatbush-Remsen Village': 'BK1704',
 'East Flatbush-Rugby': 'BK1703',
 'East Flushing': 'QN0705',
 'East Harlem (North)': 'MN1102',
 'East Harlem (South)': 'MN1101',
 'East Midtown-Turtle Bay': 'MN0604',
 'East New York (North)': 'BK0502',
 'East New York-City Line': 'BK0505',
 'East New York-New Lots': 'BK0503',
 'East Village': 'MN0303',
 'East Williamsburg': 'BK0104',
 'Eastchester-Edenwald-Baychester': 'BX1202',
 'Elmhurst': 'QN0401',
 'Far Rockaway-Bayswater': 'QN1401',
 'Ferry Point Park-St. Raymond Cemetery': 'BX1091',
 'Financial District-Battery Park City': 'MN0101',
 'Flatbush': 'BK1401',
 'Flatbush (West)-Ditmas Park-Parkville': 'BK1402',
 'Flatlands': 'BK1801',
 'Flushing Meadows-Corona Park': 'QN8191',
 'Flushing-Willets Point': 'QN0707',
 'Fordham Heights': 'BX0503',
 'Forest Hills': 'QN0602',
 'Forest Park': 'QN8291',
 'Fort Greene': 'BK0203',
 'Fort Hamilton': 'BK1061',
 'Fort Totten': 'QN0761',
 'Fort Wadsworth': 'SI9561',
 'Fresh Meadows-Utopia': 'QN0803',
 'Freshkills Park (North)': 'SI0291',
 'Freshkills Park (South)': 'SI0391',
 'Glen Oaks-Floral Park-New Hyde Park': 'QN1301',
 'Glendale': 'QN0503',
 'Gramercy': 'MN0602',
 'Grasmere-Arrochar-South Beach-Dongan Hills': 'SI0201',
 'Gravesend (East)-Homecrest': 'BK1501',
 'Gravesend (South)': 'BK1301',
 'Gravesend (West)': 'BK1103',
 'Great Kills Park': 'SI9593',
 'Great Kills-Eltingville': 'SI0302',
 'Green-Wood Cemetery': 'BK0771',
 'Greenpoint': 'BK0101',
 'Greenwich Village': 'MN0202',
 'Hamilton Heights-Sugar Hill': 'MN0903',
 'Harlem (North)': 'MN1002',
 'Harlem (South)': 'MN1001',
 'Hart Island': 'BX1071',
 "Hell's Kitchen": 'MN0402',
 'Highbridge': 'BX0402',
 'Highbridge Park': 'MN1291',
 'Highland Park-Cypress Hills Cemeteries (North)': 'QN0574',
 'Highland Park-Cypress Hills Cemeteries (South)': 'BK0571',
 'Hoffman & Swinburne Islands': 'SI9591',
 'Hollis': 'QN1206',
 'Holy Cross Cemetery': 'BK1771',
 'Howard Beach-Lindenwood': 'QN1003',
 'Hunts Point': 'BX0201',
 'Hutchinson Metro Center': 'BX1161',
 'Inwood': 'MN1203',
 'Inwood Hill Park': 'MN1292',
 'Jackson Heights': 'QN0301',
 'Jacob Riis Park-Fort Tilden-Breezy Point Tip': 'QN8492',
 'Jamaica': 'QN1201',
 'Jamaica Bay (East)': 'QN8491',
 'Jamaica Bay (West)': 'BK5692',
 'Jamaica Estates-Holliswood': 'QN0804',
 'Jamaica Hills-Briarwood': 'QN0805',
 'John F. Kennedy International Airport': 'QN8381',
 'Kensington': 'BK1203',
 'Kew Gardens': 'QN0901',
 'Kew Gardens Hills': 'QN0801',
 'Kingsbridge Heights-Van Cortlandt Village': 'BX0801',
 'Kingsbridge-Marble Hill': 'BX0802',
 'Kissena Park': 'QN0791',
 'LaGuardia Airport': 'QN8081',
 'Laurelton': 'QN1305',
 'Lincoln Terrace Park': 'BK0891',
 'Long Island City-Hunters Point': 'QN0201',
 'Longwood': 'BX0202',
 'Lower East Side': 'MN0302',
 'Madison': 'BK1502',
 'Manhattanville-West Harlem': 'MN0902',
 'Mapleton-Midwood (West)': 'BK1204',
 'Marine Park-Mill Basin-Bergen Beach': 'BK1802',
 'Marine Park-Plumb Island': 'BK1891',
 "Mariner's Harbor-Arlington-Graniteville": 'SI0107',
 'Maspeth': 'QN0501',
 'McGuire Fields': 'BK1892',
 'Melrose': 'BX0102',
 'Middle Village': 'QN0504',
 'Middle Village Cemetery': 'QN0572',
 'Midtown South-Flatiron-Union Square': 'MN0501',
 'Midtown-Times Square': 'MN0502',
 'Midwood': 'BK1403',
 'Miller Field': 'SI9592',
 'Montefiore Cemetery': 'QN1371',
 'Morningside Heights': 'MN0901',
 'Morris Park': 'BX1102',
 'Morrisania': 'BX0301',
 'Mott Haven-Port Morris': 'BX0101',
 'Mount Eden-Claremont (West)': 'BX0403',
 'Mount Hebron & Cedar Grove Cemeteries': 'QN0871',
 'Mount Hope': 'BX0502',
 'Mount Olivet & All Faiths Cemeteries': 'QN0571',
 'Murray Hill-Broadway Flushing': 'QN0704',
 'Murray Hill-Kips Bay': 'MN0603',
 'New Dorp-Midland Beach': 'SI0202',
 'New Springville-Willowbrook-Bulls Head-Travis': 'SI0204',
 'North & South Brother Islands': 'BX0291',
 'North Corona': 'QN0303',
 'Norwood': 'BX0703',
 'Oakland Gardens-Hollis Hills': 'QN1104',
 'Oakwood-Richmondtown': 'SI0301',
 'Ocean Hill': 'BK1601',
 'Old Astoria-Hallets Point': 'QN0102',
 'Ozone Park': 'QN1002',
 'Ozone Park (North)': 'QN0904',
 'Park Slope': 'BK0602',
 'Parkchester': 'BX0904',
 'Pelham Bay Park': 'BX2891',
 'Pelham Bay-Country Club-City Island': 'BX1003',
 'Pelham Gardens': 'BX1103',
 'Pelham Parkway-Van Nest': 'BX1101',
 'Pomonok-Electchester-Hillcrest': 'QN0802',
 'Port Richmond': 'SI0106',
 'Prospect Heights': 'BK0801',
 'Prospect Lefferts Gardens-Wingate': 'BK0902',
 'Prospect Park': 'BK5591',
 'Queens Village': 'QN1303',
 'Queensboro Hill': 'QN0706',
 'Queensbridge-Ravenswood-Dutch Kills': 'QN0105',
 "Randall's Island": 'MN1191',
 'Rego Park': 'QN0601',
 'Richmond Hill': 'QN0902',
 'Ridgewood': 'QN0502',
 'Rikers Island': 'QN0151',
 'Riverdale-Spuyten Duyvil': 'BX0803',
 'Rockaway Beach-Arverne-Edgemere': 'QN1402',
 'Rockaway Community Park': 'QN1491',
 'Rosebank-Shore Acres-Park Hill': 'SI0103',
 'Rosedale': 'QN1307',
 'Sheepshead Bay-Manhattan Beach-Gerritsen Beach': 'BK1503',
 'Shirley Chisholm State Park': 'BK5693',
 'Snug Harbor': 'SI0191',
 'SoHo-Little Italy-Hudson Square': 'MN0201',
 'Soundview Park': 'BX0991',
 'Soundview-Bruckner-Bronx River': 'BX0901',
 'Soundview-Clason Point': 'BX0902',
 'South Jamaica': 'QN1202',
 'South Ozone Park': 'QN1001',
 'South Richmond Hill': 'QN0903',
 'South Williamsburg': 'BK0103',
 'Spring Creek Park': 'QN1091',
 'Spring Creek-Starrett City': 'BK0504',
 'Springfield Gardens (North)-Rochdale Village': 'QN1204',
 'Springfield Gardens (South)-Brookville': 'QN1306',
 'St. Albans': 'QN1205',
 'St. George-New Brighton': 'SI0101',
 'St. John Cemetery': 'QN0573',
 "St. Michael's Cemetery": 'QN0171',
 'Stuyvesant Town-Peter Cooper Village': 'MN0601',
 'Sunnyside': 'QN0202',
 'Sunnyside Yards (North)': 'QN0161',
 'Sunnyside Yards (South)': 'QN0261',
 'Sunset Park (Central)': 'BK0703',
 'Sunset Park (East)-Borough Park (West)': 'BK1201',
 'Sunset Park (West)': 'BK0702',
 'The Battery-Governors Island-Ellis Island-Liberty Island': 'MN0191',
 'The Evergreens Cemetery': 'BK0471',
 'Throgs Neck-Schuylerville': 'BX1002',
 'Todt Hill-Emerson Hill-Lighthouse Hill-Manor Heights': 'SI0203',
 'Tompkinsville-Stapleton-Clifton-Fox Hills': 'SI0102',
 'Tottenville-Charleston': 'SI0305',
 'Tremont': 'BX0602',
 'Tribeca-Civic Center': 'MN0102',
 'United Nations': 'MN0661',
 'University Heights (North)-Fordham': 'BX0701',
 'University Heights (South)-Morris Heights': 'BX0501',
 'Upper East Side-Carnegie Hill': 'MN0802',
 'Upper East Side-Lenox Hill-Roosevelt Island': 'MN0801',
 'Upper East Side-Yorkville': 'MN0803',
 'Upper West Side (Central)': 'MN0702',
 'Upper West Side-Lincoln Square': 'MN0701',
 'Upper West Side-Manhattan Valley': 'MN0703',
 'Van Cortlandt Park': 'BX2691',
 'Wakefield-Woodlawn': 'BX1203',
 'Washington Heights (North)': 'MN1202',
 'Washington Heights (South)': 'MN1201',
 'West Farms': 'BX0601',
 'West New Brighton-Silver Lake-Grymes Hill': 'SI0104',
 'West Village': 'MN0203',
 'Westchester Square': 'BX1001',
 'Westerleigh-Castleton Corners': 'SI0105',
 'Whitestone-Beechhurst': 'QN0702',
 'Williamsbridge-Olinville': 'BX1201',
 'Williamsburg': 'BK0102',
 'Windsor Terrace-South Slope': 'BK0701',
 'Woodhaven': 'QN0905',
 'Woodlawn Cemetery': 'BX1271',
 'Woodside': 'QN0203',
 'Yankee Stadium-Macombs Dam Park': 'BX0491'}

In [73]:
nta_list = set(nta_dict.keys())
nta_list

{'Allerton',
 'Alley Pond Park',
 "Annadale-Huguenot-Prince's Bay-Woodrow",
 'Arden Heights-Rossville',
 'Astoria (Central)',
 'Astoria (East)-Woodside (North)',
 'Astoria (North)-Ditmars-Steinway',
 'Astoria Park',
 'Auburndale',
 'Baisley Park',
 'Barren Island-Floyd Bennett Field',
 'Bath Beach',
 'Bay Ridge',
 'Bay Terrace-Clearview',
 'Bayside',
 'Bedford Park',
 'Bedford-Stuyvesant (East)',
 'Bedford-Stuyvesant (West)',
 'Bellerose',
 'Belmont',
 'Bensonhurst',
 'Borough Park',
 'Breezy Point-Belle Harbor-Rockaway Park-Broad Channel',
 'Brighton Beach',
 'Bronx Park',
 'Brooklyn Heights',
 'Brooklyn Navy Yard',
 'Brownsville',
 'Bushwick (East)',
 'Bushwick (West)',
 'Calvary & Mount Zion Cemeteries',
 'Calvert Vaux Park',
 'Cambria Heights',
 'Canarsie',
 'Canarsie Park & Pier',
 'Carroll Gardens-Cobble Hill-Gowanus-Red Hook',
 'Castle Hill-Unionport',
 'Central Park',
 'Chelsea-Hudson Yards',
 'Chinatown-Two Bridges',
 'Claremont Park',
 'Claremont Village-Claremont (East)',
 'Clinton Hill',
 'Co-op City',
 'College Point',
 'Concourse-Concourse Village',
 'Coney Island-Sea Gate',
 'Corona',
 'Crotona Park',
 'Crotona Park East',
 'Crown Heights (North)',
 'Crown Heights (South)',
 'Cunningham Park',
 'Cypress Hills',
 'Douglaston-Little Neck',
 'Downtown Brooklyn-DUMBO-Boerum Hill',
 'Dyker Beach Park',
 'Dyker Heights',
 'East Elmhurst',
 'East Flatbush-Erasmus',
 'East Flatbush-Farragut',
 'East Flatbush-Remsen Village',
 'East Flatbush-Rugby',
 'East Flushing',
 'East Harlem (North)',
 'East Harlem (South)',
 'East Midtown-Turtle Bay',
 'East New York (North)',
 'East New York-City Line',
 'East New York-New Lots',
 'East Village',
 'East Williamsburg',
 'Eastchester-Edenwald-Baychester',
 'Elmhurst',
 'Far Rockaway-Bayswater',
 'Ferry Point Park-St. Raymond Cemetery',
 'Financial District-Battery Park City',
 'Flatbush',
 'Flatbush (West)-Ditmas Park-Parkville',
 'Flatlands',
 'Flushing Meadows-Corona Park',
 'Flushing-Willets Point',
 'Fordham Heights',
 'Forest Hills',
 'Forest Park',
 'Fort Greene',
 'Fort Hamilton',
 'Fort Totten',
 'Fort Wadsworth',
 'Fresh Meadows-Utopia',
 'Freshkills Park (North)',
 'Freshkills Park (South)',
 'Glen Oaks-Floral Park-New Hyde Park',
 'Glendale',
 'Gramercy',
 'Grasmere-Arrochar-South Beach-Dongan Hills',
 'Gravesend (East)-Homecrest',
 'Gravesend (South)',
 'Gravesend (West)',
 'Great Kills Park',
 'Great Kills-Eltingville',
 'Green-Wood Cemetery',
 'Greenpoint',
 'Greenwich Village',
 'Hamilton Heights-Sugar Hill',
 'Harlem (North)',
 'Harlem (South)',
 'Hart Island',
 "Hell's Kitchen",
 'Highbridge',
 'Highbridge Park',
 'Highland Park-Cypress Hills Cemeteries (North)',
 'Highland Park-Cypress Hills Cemeteries (South)',
 'Hoffman & Swinburne Islands',
 'Hollis',
 'Holy Cross Cemetery',
 'Howard Beach-Lindenwood',
 'Hunts Point',
 'Hutchinson Metro Center',
 'Inwood',
 'Inwood Hill Park',
 'Jackson Heights',
 'Jacob Riis Park-Fort Tilden-Breezy Point Tip',
 'Jamaica',
 'Jamaica Bay (East)',
 'Jamaica Bay (West)',
 'Jamaica Estates-Holliswood',
 'Jamaica Hills-Briarwood',
 'John F. Kennedy International Airport',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge Heights-Van Cortlandt Village',
 'Kingsbridge-Marble Hill',
 'Kissena Park',
 'LaGuardia Airport',
 'Laurelton',
 'Lincoln Terrace Park',
 'Long Island City-Hunters Point',
 'Longwood',
 'Lower East Side',
 'Madison',
 'Manhattanville-West Harlem',
 'Mapleton-Midwood (West)',
 'Marine Park-Mill Basin-Bergen Beach',
 'Marine Park-Plumb Island',
 "Mariner's Harbor-Arlington-Graniteville",
 'Maspeth',
 'McGuire Fields',
 'Melrose',
 'Middle Village',
 'Middle Village Cemetery',
 'Midtown South-Flatiron-Union Square',
 'Midtown-Times Square',
 'Midwood',
 'Miller Field',
 'Montefiore Cemetery',
 'Morningside Heights',
 'Morris Park',
 'Morrisania',
 'Mott Haven-Port Morris',
 'Mount Eden-Claremont (West)',
 'Mount Hebron & Cedar Grove Cemeteries',
 'Mount Hope',
 'Mount Olivet & All Faiths Cemeteries',
 'Murray Hill-Broadway Flushing',
 'Murray Hill-Kips Bay',
 'New Dorp-Midland Beach',
 'New Springville-Willowbrook-Bulls Head-Travis',
 'North & South Brother Islands',
 'North Corona',
 'Norwood',
 'Oakland Gardens-Hollis Hills',
 'Oakwood-Richmondtown',
 'Ocean Hill',
 'Old Astoria-Hallets Point',
 'Ozone Park',
 'Ozone Park (North)',
 'Park Slope',
 'Parkchester',
 'Pelham Bay Park',
 'Pelham Bay-Country Club-City Island',
 'Pelham Gardens',
 'Pelham Parkway-Van Nest',
 'Pomonok-Electchester-Hillcrest',
 'Port Richmond',
 'Prospect Heights',
 'Prospect Lefferts Gardens-Wingate',
 'Prospect Park',
 'Queens Village',
 'Queensboro Hill',
 'Queensbridge-Ravenswood-Dutch Kills',
 "Randall's Island",
 'Rego Park',
 'Richmond Hill',
 'Ridgewood',
 'Rikers Island',
 'Riverdale-Spuyten Duyvil',
 'Rockaway Beach-Arverne-Edgemere',
 'Rockaway Community Park',
 'Rosebank-Shore Acres-Park Hill',
 'Rosedale',
 'Sheepshead Bay-Manhattan Beach-Gerritsen Beach',
 'Shirley Chisholm State Park',
 'Snug Harbor',
 'SoHo-Little Italy-Hudson Square',
 'Soundview Park',
 'Soundview-Bruckner-Bronx River',
 'Soundview-Clason Point',
 'South Jamaica',
 'South Ozone Park',
 'South Richmond Hill',
 'South Williamsburg',
 'Spring Creek Park',
 'Spring Creek-Starrett City',
 'Springfield Gardens (North)-Rochdale Village',
 'Springfield Gardens (South)-Brookville',
 'St. Albans',
 'St. George-New Brighton',
 'St. John Cemetery',
 "St. Michael's Cemetery",
 'Stuyvesant Town-Peter Cooper Village',
 'Sunnyside',
 'Sunnyside Yards (North)',
 'Sunnyside Yards (South)',
 'Sunset Park (Central)',
 'Sunset Park (East)-Borough Park (West)',
 'Sunset Park (West)',
 'The Battery-Governors Island-Ellis Island-Liberty Island',
 'The Evergreens Cemetery',
 'Throgs Neck-Schuylerville',
 'Todt Hill-Emerson Hill-Lighthouse Hill-Manor Heights',
 'Tompkinsville-Stapleton-Clifton-Fox Hills',
 'Tottenville-Charleston',
 'Tremont',
 'Tribeca-Civic Center',
 'United Nations',
 'University Heights (North)-Fordham',
 'University Heights (South)-Morris Heights',
 'Upper East Side-Carnegie Hill',
 'Upper East Side-Lenox Hill-Roosevelt Island',
 'Upper East Side-Yorkville',
 'Upper West Side (Central)',
 'Upper West Side-Lincoln Square',
 'Upper West Side-Manhattan Valley',
 'Van Cortlandt Park',
 'Wakefield-Woodlawn',
 'Washington Heights (North)',
 'Washington Heights (South)',
 'West Farms',
 'West New Brighton-Silver Lake-Grymes Hill',
 'West Village',
 'Westchester Square',
 'Westerleigh-Castleton Corners',
 'Whitestone-Beechhurst',
 'Williamsbridge-Olinville',
 'Williamsburg',
 'Windsor Terrace-South Slope',
 'Woodhaven',
 'Woodlawn Cemetery',
 'Woodside',
 'Yankee Stadium-Macombs Dam Park'}

In [75]:
data.NTA = data.NTA.apply(lambda x: x.strip())

In [74]:
nghbrhd_list = set(data.NTA.values)
nghbrhd_list

{'Airport La Guardia',
 'Alphabet City',
 'Annadale',
 'Arden Heights',
 'Arrochar',
 'Arrochar-Shore Acres',
 'Arverne',
 'Astoria',
 'Bath Beach',
 'Bathgate',
 'Bay Ridge',
 'Baychester',
 'Bayside',
 'Bedford Park/Norwood',
 'Bedford Stuyvesant',
 'Beechhurst',
 'Belle Harbor',
 'Bellerose',
 'Belmont',
 'Bensonhurst',
 'Bergen Beach',
 'Bloomfield',
 'Boerum Hill',
 'Borough Park',
 'Breezy Point',
 'Briarwood',
 'Brighton Beach',
 'Broad Channel',
 'Bronx Park',
 'Bronxdale',
 'Brooklyn Heights',
 'Brownsville',
 'Bulls Head',
 'Bush Terminal',
 'Bushwick',
 'Cambria Heights',
 'Canarsie',
 'Carroll Gardens',
 'Castle Hill/Unionport',
 'Castleton Corners',
 'Chelsea',
 'Chinatown',
 'City Island',
 'City Island-Pelham Strip',
 'Civic Center',
 'Clinton',
 'Clinton Hill',
 'Clove Lakes',
 'Co-Op City',
 'Cobble Hill',
 'Cobble Hill-West',
 'College Point',
 'Concord',
 'Concord-Fox Hills',
 'Coney Island',
 'Corona',
 'Country Club',
 'Crotona Park',
 'Crown Heights',
 'Cypress Hills',
 'Dongan Hills',
 'Dongan Hills-Colony',
 'Dongan Hills-Old Town',
 'Douglaston',
 'Downtown-Fulton Ferry',
 'Downtown-Fulton Mall',
 'Downtown-Metrotech',
 'Dyker Heights',
 'East Elmhurst',
 'East New York',
 'East Tremont',
 'East Village',
 'Elmhurst',
 'Eltingville',
 'Emerson Hill',
 'Far Rockaway',
 'Fashion',
 'Fieldston',
 'Financial',
 'Flatbush-Central',
 'Flatbush-East',
 'Flatbush-Lefferts Garden',
 'Flatbush-North',
 'Flatiron',
 'Flatlands',
 'Floral Park',
 'Flushing Meadow Park',
 'Flushing-North',
 'Flushing-South',
 'Fordham',
 'Forest Hills',
 'Fort Greene',
 'Fresh Kills',
 'Fresh Meadows',
 'Gerritsen Beach',
 'Glen Oaks',
 'Glendale',
 'Gowanus',
 'Gramercy',
 'Grant City',
 'Grasmere',
 'Gravesend',
 'Great Kills',
 'Great Kills-Bay Terrace',
 'Greenpoint',
 'Greenwich Village-Central',
 'Greenwich Village-West',
 'Grymes Hill',
 'Hammels',
 'Harlem-Central',
 'Harlem-East',
 'Harlem-Upper',
 'Harlem-West',
 'Highbridge/Morris Heights',
 'Hillcrest',
 'Hollis',
 'Hollis Hills',
 'Holliswood',
 'Howard Beach',
 'Huguenot',
 'Hunts Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Bay',
 'Jamaica Estates',
 'Jamaica Hills',
 'Javits Center',
 'Kensington',
 'Kew Gardens',
 'Kingsbridge Hts/Univ Hts',
 'Kingsbridge/Jerome Park',
 'Kips Bay',
 'Laurelton',
 'Little Italy',
 'Little Neck',
 'Livingston',
 'Long Island City',
 'Lower East Side',
 'Madison',
 'Manhattan Beach',
 'Manhattan Valley',
 'Manor Heights',
 'Marine Park',
 'Mariners Harbor',
 'Maspeth',
 'Melrose/Concourse',
 'Middle Village',
 'Midland Beach',
 'Midtown Cbd',
 'Midtown East',
 'Midtown West',
 'Midwood',
 'Mill Basin',
 'Morningside Heights',
 'Morris Park/Van Nest',
 'Morrisania/Longwood',
 'Mott Haven/Port Morris',
 'Mount Hope/Mount Eden',
 'Murray Hill',
 'Nan',
 'Navy Yard',
 'Neponsit',
 'New Brighton',
 'New Brighton-St. George',
 'New Dorp',
 'New Dorp-Beach',
 'New Dorp-Heights',
 'New Springville',
 'Oakland Gardens',
 'Oakwood',
 'Oakwood-Beach',
 'Ocean Hill',
 'Ocean Parkway-North',
 'Ocean Parkway-South',
 'Old Mill Basin',
 'Ozone Park',
 'Park Slope',
 'Park Slope South',
 'Parkchester',
 'Pelham Gardens',
 'Pelham Parkway North',
 'Pelham Parkway South',
 'Pleasant Plains',
 'Port Ivory',
 'Port Richmond',
 'Princes Bay',
 'Prospect Heights',
 'Queens Village',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Richmondtown',
 'Richmondtown-Lighths Hill',
 'Ridgewood',
 'Riverdale',
 'Rockaway Park',
 'Roosevelt Island',
 'Rosebank',
 'Rosedale',
 'Rossville',
 'Rossville-Charleston',
 'Rossville-Port Mobil',
 'Rossville-Richmond Valley',
 'Schuylerville/Pelham Bay',
 'Seagate',
 'Sheepshead Bay',
 'Silver Lake',
 'So. Jamaica-Baisley Park',
 'Soho',
 'Soundview',
 'South Beach',
 'South Jamaica',
 'South Ozone Park',
 'Southbridge',
 'Spring Creek',
 'Springfield Gardens',
 'St. Albans',
 'Stapleton',
 'Stapleton-Clifton',
 'Sunnyside',
 'Sunset Park',
 'Throgs Neck',
 'Todt Hill',
 'Tompkinsville',
 'Tottenville',
 'Travis',
 'Tribeca',
 'Upper East Side (59-79)',
 'Upper East Side (79-96)',
 'Upper East Side (96-110)',
 'Upper West Side (59-79)',
 'Upper West Side (79-96)',
 'Upper West Side (96-116)',
 'Van Cortlandt Park',
 'Wakefield',
 'Washington Heights Lower',
 'Washington Heights Upper',
 'West New Brighton',
 'Westchester',
 'Westerleigh',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg-Central',
 'Williamsburg-East',
 'Williamsburg-North',
 'Williamsburg-South',
 'Willowbrook',
 'Windsor Terrace',
 'Woodhaven',
 'Woodlawn',
 'Woodrow',
 'Woodside',
 'Wyckoff Heights'}

In [17]:
diff_1 = nta_list - nghbrhd_list
diff_1

{'Allerton',
 'Alley Pond Park',
 "Annadale-Huguenot-Prince's Bay-Woodrow",
 'Arden Heights-Rossville',
 'Astoria (Central)',
 'Astoria (East)-Woodside (North)',
 'Astoria (North)-Ditmars-Steinway',
 'Astoria Park',
 'Auburndale',
 'Baisley Park',
 'Barren Island-Floyd Bennett Field',
 'Bay Terrace-Clearview',
 'Bedford Park',
 'Bedford-Stuyvesant (East)',
 'Bedford-Stuyvesant (West)',
 'Breezy Point-Belle Harbor-Rockaway Park-Broad Channel',
 'Brooklyn Navy Yard',
 'Bushwick (East)',
 'Bushwick (West)',
 'Calvary & Mount Zion Cemeteries',
 'Calvert Vaux Park',
 'Canarsie Park & Pier',
 'Carroll Gardens-Cobble Hill-Gowanus-Red Hook',
 'Castle Hill-Unionport',
 'Central Park',
 'Chelsea-Hudson Yards',
 'Chinatown-Two Bridges',
 'Claremont Park',
 'Claremont Village-Claremont (East)',
 'Co-op City',
 'Concourse-Concourse Village',
 'Coney Island-Sea Gate',
 'Crotona Park East',
 'Crown Heights (North)',
 'Crown Heights (South)',
 'Cunningham Park',
 'Douglaston-Little Neck',
 'Downtown Brooklyn-DUMBO-Boerum Hill',
 'Dyker Beach Park',
 'East Flatbush-Erasmus',
 'East Flatbush-Farragut',
 'East Flatbush-Remsen Village',
 'East Flatbush-Rugby',
 'East Flushing',
 'East Harlem (North)',
 'East Harlem (South)',
 'East Midtown-Turtle Bay',
 'East New York (North)',
 'East New York-City Line',
 'East New York-New Lots',
 'East Williamsburg',
 'Eastchester-Edenwald-Baychester',
 'Far Rockaway-Bayswater',
 'Ferry Point Park-St. Raymond Cemetery',
 'Financial District-Battery Park City',
 'Flatbush',
 'Flatbush (West)-Ditmas Park-Parkville',
 'Flushing Meadows-Corona Park',
 'Flushing-Willets Point',
 'Fordham Heights',
 'Forest Park',
 'Fort Hamilton',
 'Fort Totten',
 'Fort Wadsworth',
 'Fresh Meadows-Utopia',
 'Freshkills Park (North)',
 'Freshkills Park (South)',
 'Glen Oaks-Floral Park-New Hyde Park',
 'Grasmere-Arrochar-South Beach-Dongan Hills',
 'Gravesend (East)-Homecrest',
 'Gravesend (South)',
 'Gravesend (West)',
 'Great Kills Park',
 'Great Kills-Eltingville',
 'Green-Wood Cemetery',
 'Greenwich Village',
 'Hamilton Heights-Sugar Hill',
 'Harlem (North)',
 'Harlem (South)',
 'Hart Island',
 "Hell's Kitchen",
 'Highbridge',
 'Highbridge Park',
 'Highland Park-Cypress Hills Cemeteries (North)',
 'Highland Park-Cypress Hills Cemeteries (South)',
 'Hoffman & Swinburne Islands',
 'Holy Cross Cemetery',
 'Howard Beach-Lindenwood',
 'Hutchinson Metro Center',
 'Inwood Hill Park',
 'Jacob Riis Park-Fort Tilden-Breezy Point Tip',
 'Jamaica Bay (East)',
 'Jamaica Bay (West)',
 'Jamaica Estates-Holliswood',
 'Jamaica Hills-Briarwood',
 'John F. Kennedy International Airport',
 'Kew Gardens Hills',
 'Kingsbridge Heights-Van Cortlandt Village',
 'Kingsbridge-Marble Hill',
 'Kissena Park',
 'LaGuardia Airport',
 'Lincoln Terrace Park',
 'Long Island City-Hunters Point',
 'Longwood',
 'Manhattanville-West Harlem',
 'Mapleton-Midwood (West)',
 'Marine Park-Mill Basin-Bergen Beach',
 'Marine Park-Plumb Island',
 "Mariner's Harbor-Arlington-Graniteville",
 'McGuire Fields',
 'Melrose',
 'Middle Village Cemetery',
 'Midtown South-Flatiron-Union Square',
 'Midtown-Times Square',
 'Miller Field',
 'Montefiore Cemetery',
 'Morris Park',
 'Morrisania',
 'Mott Haven-Port Morris',
 'Mount Eden-Claremont (West)',
 'Mount Hebron & Cedar Grove Cemeteries',
 'Mount Hope',
 'Mount Olivet & All Faiths Cemeteries',
 'Murray Hill-Broadway Flushing',
 'Murray Hill-Kips Bay',
 'New Dorp-Midland Beach',
 'New Springville-Willowbrook-Bulls Head-Travis',
 'North & South Brother Islands',
 'North Corona',
 'Norwood',
 'Oakland Gardens-Hollis Hills',
 'Oakwood-Richmondtown',
 'Old Astoria-Hallets Point',
 'Ozone Park (North)',
 'Pelham Bay Park',
 'Pelham Bay-Country Club-City Island',
 'Pelham Parkway-Van Nest',
 'Pomonok-Electchester-Hillcrest',
 'Prospect Lefferts Gardens-Wingate',
 'Prospect Park',
 'Queensboro Hill',
 'Queensbridge-Ravenswood-Dutch Kills',
 "Randall's Island",
 'Rikers Island',
 'Riverdale-Spuyten Duyvil',
 'Rockaway Beach-Arverne-Edgemere',
 'Rockaway Community Park',
 'Rosebank-Shore Acres-Park Hill',
 'Sheepshead Bay-Manhattan Beach-Gerritsen Beach',
 'Shirley Chisholm State Park',
 'Snug Harbor',
 'SoHo-Little Italy-Hudson Square',
 'Soundview Park',
 'Soundview-Bruckner-Bronx River',
 'Soundview-Clason Point',
 'South Richmond Hill',
 'South Williamsburg',
 'Spring Creek Park',
 'Spring Creek-Starrett City',
 'Springfield Gardens (North)-Rochdale Village',
 'Springfield Gardens (South)-Brookville',
 'St. George-New Brighton',
 'St. John Cemetery',
 "St. Michael's Cemetery",
 'Stuyvesant Town-Peter Cooper Village',
 'Sunnyside Yards (North)',
 'Sunnyside Yards (South)',
 'Sunset Park (Central)',
 'Sunset Park (East)-Borough Park (West)',
 'Sunset Park (West)',
 'The Battery-Governors Island-Ellis Island-Liberty Island',
 'The Evergreens Cemetery',
 'Throgs Neck-Schuylerville',
 'Todt Hill-Emerson Hill-Lighthouse Hill-Manor Heights',
 'Tompkinsville-Stapleton-Clifton-Fox Hills',
 'Tottenville-Charleston',
 'Tremont',
 'Tribeca-Civic Center',
 'United Nations',
 'University Heights (North)-Fordham',
 'University Heights (South)-Morris Heights',
 'Upper East Side-Carnegie Hill',
 'Upper East Side-Lenox Hill-Roosevelt Island',
 'Upper East Side-Yorkville',
 'Upper West Side (Central)',
 'Upper West Side-Lincoln Square',
 'Upper West Side-Manhattan Valley',
 'Wakefield-Woodlawn',
 'Washington Heights (North)',
 'Washington Heights (South)',
 'West Farms',
 'West New Brighton-Silver Lake-Grymes Hill',
 'West Village',
 'Westchester Square',
 'Westerleigh-Castleton Corners',
 'Whitestone-Beechhurst',
 'Williamsbridge-Olinville',
 'Williamsburg',
 'Windsor Terrace-South Slope',
 'Woodlawn Cemetery',
 'Yankee Stadium-Macombs Dam Park'}

In [18]:
diff_2 = nghbrhd_list - nta_list
diff_2

{'Airport La Guardia',
 'Alphabet City',
 'Annadale',
 'Arden Heights',
 'Arrochar',
 'Arrochar-Shore Acres',
 'Arverne',
 'Astoria',
 'Bathgate',
 'Baychester',
 'Bedford Park/Norwood',
 'Bedford Stuyvesant',
 'Beechhurst',
 'Belle Harbor',
 'Bergen Beach',
 'Bloomfield',
 'Boerum Hill',
 'Breezy Point',
 'Briarwood',
 'Broad Channel',
 'Bronxdale',
 'Bulls Head',
 'Bush Terminal',
 'Bushwick',
 'Carroll Gardens',
 'Castle Hill/Unionport',
 'Castleton Corners',
 'Chelsea',
 'Chinatown',
 'City Island',
 'City Island-Pelham Strip',
 'Civic Center',
 'Clinton',
 'Clove Lakes',
 'Co-Op City',
 'Cobble Hill',
 'Cobble Hill-West',
 'Concord',
 'Concord-Fox Hills',
 'Coney Island',
 'Country Club',
 'Crown Heights',
 'Dongan Hills',
 'Dongan Hills-Colony',
 'Dongan Hills-Old Town',
 'Douglaston',
 'Downtown-Fulton Ferry',
 'Downtown-Fulton Mall',
 'Downtown-Metrotech',
 'East New York',
 'East Tremont',
 'Eltingville',
 'Emerson Hill',
 'Far Rockaway',
 'Fashion',
 'Fieldston',
 'Financial',
 'Flatbush-Central',
 'Flatbush-East',
 'Flatbush-Lefferts Garden',
 'Flatbush-North',
 'Flatiron',
 'Floral Park',
 'Flushing Meadow Park',
 'Flushing-North',
 'Flushing-South',
 'Fordham',
 'Fresh Kills',
 'Fresh Meadows',
 'Gerritsen Beach',
 'Glen Oaks',
 'Gowanus',
 'Grant City',
 'Grasmere',
 'Gravesend',
 'Great Kills',
 'Great Kills-Bay Terrace',
 'Greenwich Village-Central',
 'Greenwich Village-West',
 'Grymes Hill',
 'Hammels',
 'Harlem-Central',
 'Harlem-East',
 'Harlem-Upper',
 'Harlem-West',
 'Highbridge/Morris Heights',
 'Hillcrest',
 'Hollis Hills',
 'Holliswood',
 'Howard Beach',
 'Huguenot',
 'Jamaica Bay',
 'Jamaica Estates',
 'Jamaica Hills',
 'Javits Center',
 'Kingsbridge Hts/Univ Hts',
 'Kingsbridge/Jerome Park',
 'Kips Bay',
 'Little Italy',
 'Little Neck',
 'Livingston',
 'Long Island City',
 'Manhattan Beach',
 'Manhattan Valley',
 'Manor Heights',
 'Marine Park',
 'Mariners Harbor',
 'Melrose/Concourse',
 'Midland Beach',
 'Midtown Cbd',
 'Midtown East',
 'Midtown West',
 'Mill Basin',
 'Morris Park/Van Nest',
 'Morrisania/Longwood',
 'Mott Haven/Port Morris',
 'Mount Hope/Mount Eden',
 'Murray Hill',
 'Nan',
 'Navy Yard',
 'Neponsit',
 'New Brighton',
 'New Brighton-St. George',
 'New Dorp',
 'New Dorp-Beach',
 'New Dorp-Heights',
 'New Springville',
 'Oakland Gardens',
 'Oakwood',
 'Oakwood-Beach',
 'Ocean Parkway-North',
 'Ocean Parkway-South',
 'Old Mill Basin',
 'Park Slope South',
 'Pelham Parkway North',
 'Pelham Parkway South',
 'Pleasant Plains',
 'Port Ivory',
 'Princes Bay',
 'Red Hook',
 'Richmondtown',
 'Richmondtown-Lighths Hill',
 'Riverdale',
 'Rockaway Park',
 'Roosevelt Island',
 'Rosebank',
 'Rossville',
 'Rossville-Charleston',
 'Rossville-Port Mobil',
 'Rossville-Richmond Valley',
 'Schuylerville/Pelham Bay',
 'Seagate',
 'Sheepshead Bay',
 'Silver Lake',
 'So. Jamaica-Baisley Park',
 'Soho',
 'Soundview',
 'South Beach',
 'Southbridge',
 'Spring Creek',
 'Springfield Gardens',
 'Stapleton',
 'Stapleton-Clifton',
 'Sunset Park',
 'Throgs Neck',
 'Todt Hill',
 'Tompkinsville',
 'Tottenville',
 'Travis',
 'Tribeca',
 'Upper East Side (59-79)',
 'Upper East Side (79-96)',
 'Upper East Side (96-110)',
 'Upper West Side (59-79)',
 'Upper West Side (79-96)',
 'Upper West Side (96-116)',
 'Wakefield',
 'Washington Heights Lower',
 'Washington Heights Upper',
 'West New Brighton',
 'Westchester',
 'Westerleigh',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg-Central',
 'Williamsburg-East',
 'Williamsburg-North',
 'Williamsburg-South',
 'Willowbrook',
 'Windsor Terrace',
 'Woodlawn',
 'Woodrow',
 'Wyckoff Heights'}

In [19]:
len(diff_2)

193

# Geomapping Addresses

In [20]:
data.boro.value_counts()

4    115472
3     94490
1     74637
5     38985
2     30933
0         5
Name: boro, dtype: int64

## Manhattan

In [22]:
data_man = data[data.boro == 1].reset_index(drop=True)
data_man.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp
0,1,Alphabet City,03 Three Family Dwellings,1,376,24,C0,264 East 7th Street,,10009,3,0,3,2059,3696,1900-01-01,1.0,C0,7738700,2016-12-22,116,1
1,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3rd Street, 3e",,10009,0,0,0,0,0,1920-01-01,2.0,C6,390000,2016-06-16,96,1
2,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3 Street, 1c",,10009,0,0,0,0,0,1920-01-01,2.0,C6,1,2016-09-06,96,1
3,1,Alphabet City,09 Coops - Walkup Apartments,2,373,46,C6,"317 East 3rd Street, 9",,10009,0,0,0,0,0,1925-01-01,2.0,C6,635000,2016-02-18,91,1
4,1,Alphabet City,09 Coops - Walkup Apartments,2,373,49,C6,"311 East 3rd Street, 24",,10009,0,0,0,0,0,1920-01-01,2.0,C6,465000,2016-01-11,96,1

In [23]:
addy = str(data_man.address[0]) + ', New York, NY ' + str(data_man.zip[0])
addy

'264 East 7th Street, New York, NY 10009'

In [24]:
data_man['full_addr'] = data_man.address.astype(str) + ', New York, NY ' + data_man.zip.astype(str)

In [25]:
data_man.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,1,Alphabet City,03 Three Family Dwellings,1,376,24,C0,264 East 7th Street,,10009,3,0,3,2059,3696,1900-01-01,1.0,C0,7738700,2016-12-22,116,1,"264 East 7th Street, New York, NY 10009"
1,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3rd Street, 3e",,10009,0,0,0,0,0,1920-01-01,2.0,C6,390000,2016-06-16,96,1,"327 East 3rd Street, 3e, New York, NY 10009"
2,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3 Street, 1c",,10009,0,0,0,0,0,1920-01-01,2.0,C6,1,2016-09-06,96,1,"327 East 3 Street, 1c, New York, NY 10009"
3,1,Alphabet City,09 Coops - Walkup Apartments,2,373,46,C6,"317 East 3rd Street, 9",,10009,0,0,0,0,0,1925-01-01,2.0,C6,635000,2016-02-18,91,1,"317 East 3rd Street, 9, New York, NY 10009"
4,1,Alphabet City,09 Coops - Walkup Apartments,2,373,49,C6,"311 East 3rd Street, 24",,10009,0,0,0,0,0,1920-01-01,2.0,C6,465000,2016-01-11,96,1,"311 East 3rd Street, 24, New York, NY 10009"

In [76]:
data_man.full_addr.isna().sum()

0

## Bronx

In [26]:
data_bx = data[data.boro == 2].reset_index(drop=True)
data_bx.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp
0,2,Bathgate,01 One Family Dwellings,1,3037,101,S0,443 East 180 Street,,10457,1,2,3,1293,2310,1952-01-01,1.0,S0,0,2016-08-06,64,1
1,2,Bathgate,01 One Family Dwellings,1,3043,55,A1,1948 Bathgate Avenue,,10457,1,0,1,2356,2047,1901-01-01,1.0,A1,220000,2016-06-22,115,1
2,2,Bathgate,01 One Family Dwellings,1,3046,52,A1,2047 Bathgate Avenue,,10457,1,0,1,2329,1431,1901-01-01,1.0,A1,273796,2016-09-21,115,1
3,2,Bathgate,01 One Family Dwellings,1,3046,52,A1,2047 Bathgate Avenue,,10457,1,0,1,2329,1431,1901-01-01,1.0,A1,231244,2016-09-21,115,1
4,2,Bathgate,01 One Family Dwellings,1,3048,27,A1,538 East 182 Street,,10457,1,0,1,1209,1048,1901-01-01,1.0,A1,0,2016-09-20,115,1

In [27]:
data_bx['full_addr'] = data_bx.address.astype(str) + ', Bronx, NY ' + data_bx.zip.astype(str)
data_bx.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,2,Bathgate,01 One Family Dwellings,1,3037,101,S0,443 East 180 Street,,10457,1,2,3,1293,2310,1952-01-01,1.0,S0,0,2016-08-06,64,1,"443 East 180 Street, Bronx, NY 10457"
1,2,Bathgate,01 One Family Dwellings,1,3043,55,A1,1948 Bathgate Avenue,,10457,1,0,1,2356,2047,1901-01-01,1.0,A1,220000,2016-06-22,115,1,"1948 Bathgate Avenue, Bronx, NY 10457"
2,2,Bathgate,01 One Family Dwellings,1,3046,52,A1,2047 Bathgate Avenue,,10457,1,0,1,2329,1431,1901-01-01,1.0,A1,273796,2016-09-21,115,1,"2047 Bathgate Avenue, Bronx, NY 10457"
3,2,Bathgate,01 One Family Dwellings,1,3046,52,A1,2047 Bathgate Avenue,,10457,1,0,1,2329,1431,1901-01-01,1.0,A1,231244,2016-09-21,115,1,"2047 Bathgate Avenue, Bronx, NY 10457"
4,2,Bathgate,01 One Family Dwellings,1,3048,27,A1,538 East 182 Street,,10457,1,0,1,1209,1048,1901-01-01,1.0,A1,0,2016-09-20,115,1,"538 East 182 Street, Bronx, NY 10457"

## Brooklyn

In [28]:
data_bk = data[data.boro == 3].reset_index(drop=True)
data_bk.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp
0,3,Bath Beach,01 One Family Dwellings,1,6360,13,A5,8665 15th Avenue,,11228,1,0,1,1547,2224,1930-01-01,1.0,A5,0,2016-05-25,86,1
1,3,Bath Beach,01 One Family Dwellings,1,6361,11,A5,71 Bay 10th Street,,11228,1,0,1,2900,1660,1930-01-01,1.0,A5,829000,2016-04-05,86,1
2,3,Bath Beach,01 One Family Dwellings,1,6364,2,A5,1649 Benson Avenue,,11214,1,0,1,1638,972,1930-01-01,1.0,A5,0,2016-10-06,86,1
3,3,Bath Beach,01 One Family Dwellings,1,6364,72,A5,68 Bay 14th Street,,11214,1,0,1,1950,972,1950-01-01,1.0,A5,790000,2016-06-21,66,1
4,3,Bath Beach,01 One Family Dwellings,1,6371,79,A5,8668 19th Avenue,,11214,1,0,1,2223,2520,1930-01-01,1.0,A5,788000,2016-03-31,86,1

In [29]:
data_bk['full_addr'] = data_bk.address.astype(str) + ', Brooklyn, NY ' + data_bk.zip.astype(str)
data_bk.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,3,Bath Beach,01 One Family Dwellings,1,6360,13,A5,8665 15th Avenue,,11228,1,0,1,1547,2224,1930-01-01,1.0,A5,0,2016-05-25,86,1,"8665 15th Avenue, Brooklyn, NY 11228"
1,3,Bath Beach,01 One Family Dwellings,1,6361,11,A5,71 Bay 10th Street,,11228,1,0,1,2900,1660,1930-01-01,1.0,A5,829000,2016-04-05,86,1,"71 Bay 10th Street, Brooklyn, NY 11228"
2,3,Bath Beach,01 One Family Dwellings,1,6364,2,A5,1649 Benson Avenue,,11214,1,0,1,1638,972,1930-01-01,1.0,A5,0,2016-10-06,86,1,"1649 Benson Avenue, Brooklyn, NY 11214"
3,3,Bath Beach,01 One Family Dwellings,1,6364,72,A5,68 Bay 14th Street,,11214,1,0,1,1950,972,1950-01-01,1.0,A5,790000,2016-06-21,66,1,"68 Bay 14th Street, Brooklyn, NY 11214"
4,3,Bath Beach,01 One Family Dwellings,1,6371,79,A5,8668 19th Avenue,,11214,1,0,1,2223,2520,1930-01-01,1.0,A5,788000,2016-03-31,86,1,"8668 19th Avenue, Brooklyn, NY 11214"

## Queens

In [30]:
data_qns = data[data.boro == 4].reset_index(drop=True)
data_qns.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp
0,4,Airport La Guardia,01 One Family Dwellings,1,976,61,A5,21-21 80th Street,,11370,1,0,1,1800,1836,1950-01-01,1.0,A5,660000,2016-07-26,66,1
1,4,Airport La Guardia,01 One Family Dwellings,1,976,63,A5,21-17 80th Street,,11370,1,0,1,1800,1224,1950-01-01,1.0,A5,275500,2016-11-18,66,1
2,4,Airport La Guardia,02 Two Family Dwellings,1,976,70,B1,21-03 80th Street,,11370,2,0,2,1800,1836,1950-01-01,1.0,B1,0,2016-06-13,66,1
3,4,Airport La Guardia,03 Three Family Dwellings,1,949,15,C0,19-08 81st Street,,11370,3,0,3,2112,4300,1985-01-01,1.0,C0,940000,2016-04-14,31,1
4,4,Airport La Guardia,03 Three Family Dwellings,1,949,56,C0,19-69 80th Street,,11370,3,0,3,2000,2835,1945-01-01,1.0,C0,0,2016-08-15,71,1

In [31]:
data_qns.NTA.value_counts()

Flushing-North              11242
Bayside                      5330
Forest Hills                 4879
Jackson Heights              4611
Flushing-South               3924
Astoria                      3905
Richmond Hill                3586
Elmhurst                     3363
St. Albans                   3145
Queens Village               3141
So. Jamaica-Baisley Park     3117
Rego Park                    3106
South Ozone Park             2711
Springfield Gardens          2706
South Jamaica                2593
Howard Beach                 2532
Corona                       2443
Ozone Park                   2400
Long Island City             2395
Middle Village               2258
Hollis                       2159
Rosedale                     2107
Whitestone                   2069
Oakland Gardens              1936
Woodhaven                    1909
Far Rockaway                 1886
Glendale                     1814
Laurelton                    1800
Glen Oaks                    1684
College Point                1648
Maspeth                      1644
Woodside                     1584
Kew Gardens                  1461
Ridgewood                    1320
Little Neck                  1226
Jamaica                      1173
Douglaston                   1158
Bellerose                    1099
Floral Park                  1040
East Elmhurst                1023
Briarwood                    1004
Sunnyside                     997
Cambria Heights               978
Arverne                       927
Beechhurst                    863
Fresh Meadows                 724
Hillcrest                     630
Jamaica Estates               616
Holliswood                    528
Rockaway Park                 502
Belle Harbor                  499
Jamaica Hills                 487
Breezy Point                  376
Hollis Hills                  335
Hammels                       312
Broad Channel                 237
Neponsit                      160
Jamaica Bay                    70
Flushing Meadow Park           66
Airport La Guardia             34
Name: NTA, dtype: int64

In [34]:
data_qns['City'] = data_qns.NTA
data_qns.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,City
0,4,Airport La Guardia,01 One Family Dwellings,1,976,61,A5,21-21 80th Street,,11370,1,0,1,1800,1836,1950-01-01,1.0,A5,660000,2016-07-26,66,1,Airport La Guardia
1,4,Airport La Guardia,01 One Family Dwellings,1,976,63,A5,21-17 80th Street,,11370,1,0,1,1800,1224,1950-01-01,1.0,A5,275500,2016-11-18,66,1,Airport La Guardia
2,4,Airport La Guardia,02 Two Family Dwellings,1,976,70,B1,21-03 80th Street,,11370,2,0,2,1800,1836,1950-01-01,1.0,B1,0,2016-06-13,66,1,Airport La Guardia
3,4,Airport La Guardia,03 Three Family Dwellings,1,949,15,C0,19-08 81st Street,,11370,3,0,3,2112,4300,1985-01-01,1.0,C0,940000,2016-04-14,31,1,Airport La Guardia
4,4,Airport La Guardia,03 Three Family Dwellings,1,949,56,C0,19-69 80th Street,,11370,3,0,3,2000,2835,1945-01-01,1.0,C0,0,2016-08-15,71,1,Airport La Guardia

In [35]:
data_qns.City = data_qns.City.replace({'Flushing-North': 'Flushing', 
                                        'Flushing-South': 'Flushing', 
                                        'So. Jamaica-Baisley Park': 'Jamaica', 
                                        'Beechhurst': 'Whitestone', 
                                        'Briarwood': 'Jamaica', 
                                        'Jamaica Estates' : 'Jamaica', 
                                        'Hillcrest': 'Queens', 
                                        'Belle Harbor': 'Rockaway Park', 
                                        'Jamaica Hills': 'Jamaica', 
                                        'Holliswood': 'Jamaica',
                                        'Hammels': 'Rockaway Beach',
                                        'Hollis Hills': 'Queens Village',
                                        'Broad Channel': 'Rockaway Beach',
                                        'Neponsit': 'Rockaway Beach',
                                        'Jamaica Bay': 'Rockaway Beach',
                                        'Flushing Meadow Park': 'Queens',
                                        'Airport La Guardia': 'Queens',
                                        'Queens-Unknown': 'Queens'})
data_qns.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,City
0,4,Airport La Guardia,01 One Family Dwellings,1,976,61,A5,21-21 80th Street,,11370,1,0,1,1800,1836,1950-01-01,1.0,A5,660000,2016-07-26,66,1,Queens
1,4,Airport La Guardia,01 One Family Dwellings,1,976,63,A5,21-17 80th Street,,11370,1,0,1,1800,1224,1950-01-01,1.0,A5,275500,2016-11-18,66,1,Queens
2,4,Airport La Guardia,02 Two Family Dwellings,1,976,70,B1,21-03 80th Street,,11370,2,0,2,1800,1836,1950-01-01,1.0,B1,0,2016-06-13,66,1,Queens
3,4,Airport La Guardia,03 Three Family Dwellings,1,949,15,C0,19-08 81st Street,,11370,3,0,3,2112,4300,1985-01-01,1.0,C0,940000,2016-04-14,31,1,Queens
4,4,Airport La Guardia,03 Three Family Dwellings,1,949,56,C0,19-69 80th Street,,11370,3,0,3,2000,2835,1945-01-01,1.0,C0,0,2016-08-15,71,1,Queens

In [36]:
data_qns['full_addr'] = data_qns.address.astype(str) + ', ' + data_qns.City.astype(str) + ', NY ' + data_qns.zip.astype(str)
data_qns.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,City,full_addr
0,4,Airport La Guardia,01 One Family Dwellings,1,976,61,A5,21-21 80th Street,,11370,1,0,1,1800,1836,1950-01-01,1.0,A5,660000,2016-07-26,66,1,Queens,"21-21 80th Street, Queens, NY 11370"
1,4,Airport La Guardia,01 One Family Dwellings,1,976,63,A5,21-17 80th Street,,11370,1,0,1,1800,1224,1950-01-01,1.0,A5,275500,2016-11-18,66,1,Queens,"21-17 80th Street, Queens, NY 11370"
2,4,Airport La Guardia,02 Two Family Dwellings,1,976,70,B1,21-03 80th Street,,11370,2,0,2,1800,1836,1950-01-01,1.0,B1,0,2016-06-13,66,1,Queens,"21-03 80th Street, Queens, NY 11370"
3,4,Airport La Guardia,03 Three Family Dwellings,1,949,15,C0,19-08 81st Street,,11370,3,0,3,2112,4300,1985-01-01,1.0,C0,940000,2016-04-14,31,1,Queens,"19-08 81st Street, Queens, NY 11370"
4,4,Airport La Guardia,03 Three Family Dwellings,1,949,56,C0,19-69 80th Street,,11370,3,0,3,2000,2835,1945-01-01,1.0,C0,0,2016-08-15,71,1,Queens,"19-69 80th Street, Queens, NY 11370"

## Staten Island

In [37]:
data_si = data[data.boro == 5].reset_index(drop=True)
data_si.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp
0,5,Annadale,01 One Family Dwellings,1,5391,9,A5,4726 Amboy Road,,10312,1,0,1,3067,1110,2002-01-01,1.0,A5,520000,2016-04-21,14,1
1,5,Annadale,01 One Family Dwellings,1,5391,30,A1,1306 Arden Avenue,,10312,1,0,1,7500,1890,1952-01-01,1.0,A1,0,2016-05-04,64,1
2,5,Annadale,01 One Family Dwellings,1,5395,15,A1,10 Edwin Street,,10312,1,0,1,7000,2200,1980-01-01,1.0,A1,10,2016-04-21,36,1
3,5,Annadale,01 One Family Dwellings,1,5397,60,A1,33 Eylandt Street,,10312,1,0,1,10120,3516,1984-01-01,1.0,A1,0,2016-08-10,32,1
4,5,Annadale,01 One Family Dwellings,1,5399,26,A1,235 Koch Boulevard,,10312,1,0,1,9555,1528,1960-01-01,1.0,A1,0,2016-02-11,56,1

In [38]:
data_si['full_addr'] = data_si.address.astype(str) + ', Staten Island, NY ' + data_si.zip.astype(str)
data_si.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,5,Annadale,01 One Family Dwellings,1,5391,9,A5,4726 Amboy Road,,10312,1,0,1,3067,1110,2002-01-01,1.0,A5,520000,2016-04-21,14,1,"4726 Amboy Road, Staten Island, NY 10312"
1,5,Annadale,01 One Family Dwellings,1,5391,30,A1,1306 Arden Avenue,,10312,1,0,1,7500,1890,1952-01-01,1.0,A1,0,2016-05-04,64,1,"1306 Arden Avenue, Staten Island, NY 10312"
2,5,Annadale,01 One Family Dwellings,1,5395,15,A1,10 Edwin Street,,10312,1,0,1,7000,2200,1980-01-01,1.0,A1,10,2016-04-21,36,1,"10 Edwin Street, Staten Island, NY 10312"
3,5,Annadale,01 One Family Dwellings,1,5397,60,A1,33 Eylandt Street,,10312,1,0,1,10120,3516,1984-01-01,1.0,A1,0,2016-08-10,32,1,"33 Eylandt Street, Staten Island, NY 10312"
4,5,Annadale,01 One Family Dwellings,1,5399,26,A1,235 Koch Boulevard,,10312,1,0,1,9555,1528,1960-01-01,1.0,A1,0,2016-02-11,56,1,"235 Koch Boulevard, Staten Island, NY 10312"

In [41]:
data_zero = data[data.boro == 0].reset_index(drop=True)
data_zero['full_addr'] = np.nan

In [40]:
data_qns.drop(columns=['City'], inplace=True)

In [42]:
df = pd.concat([data_man, data_bx, data_qns, data_bk, data_bx, data_zero])
df.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,1,Alphabet City,03 Three Family Dwellings,1,376,24,C0,264 East 7th Street,,10009,3,0,3,2059,3696,1900-01-01,1.0,C0,7738700,2016-12-22,116,1,"264 East 7th Street, New York, NY 10009"
1,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3rd Street, 3e",,10009,0,0,0,0,0,1920-01-01,2.0,C6,390000,2016-06-16,96,1,"327 East 3rd Street, 3e, New York, NY 10009"
2,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3 Street, 1c",,10009,0,0,0,0,0,1920-01-01,2.0,C6,1,2016-09-06,96,1,"327 East 3 Street, 1c, New York, NY 10009"
3,1,Alphabet City,09 Coops - Walkup Apartments,2,373,46,C6,"317 East 3rd Street, 9",,10009,0,0,0,0,0,1925-01-01,2.0,C6,635000,2016-02-18,91,1,"317 East 3rd Street, 9, New York, NY 10009"
4,1,Alphabet City,09 Coops - Walkup Apartments,2,373,49,C6,"311 East 3rd Street, 24",,10009,0,0,0,0,0,1920-01-01,2.0,C6,465000,2016-01-11,96,1,"311 East 3rd Street, 24, New York, NY 10009"

# Geocodio

In [91]:

API_KEY = '6fe1a9886948111a4aa1841fed9dfd48a568ea6'
API_KEY_2 = 'acb9b15c898cbcc68c7ce57d1719cc5be6aeca6'
client = GeocodioClient(API_KEY_2)

In [82]:
data_man.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,1,Alphabet City,03 Three Family Dwellings,1,376,24,C0,264 East 7th Street,,10009,3,0,3,2059,3696,1900-01-01,1.0,C0,7738700,2016-12-22,116,1,"264 East 7th Street, New York, NY 10009"
1,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3rd Street, 3e",,10009,0,0,0,0,0,1920-01-01,2.0,C6,390000,2016-06-16,96,1,"327 East 3rd Street, 3e, New York, NY 10009"
2,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3 Street, 1c",,10009,0,0,0,0,0,1920-01-01,2.0,C6,1,2016-09-06,96,1,"327 East 3 Street, 1c, New York, NY 10009"
3,1,Alphabet City,09 Coops - Walkup Apartments,2,373,46,C6,"317 East 3rd Street, 9",,10009,0,0,0,0,0,1925-01-01,2.0,C6,635000,2016-02-18,91,1,"317 East 3rd Street, 9, New York, NY 10009"
4,1,Alphabet City,09 Coops - Walkup Apartments,2,373,49,C6,"311 East 3rd Street, 24",,10009,0,0,0,0,0,1920-01-01,2.0,C6,465000,2016-01-11,96,1,"311 East 3rd Street, 24, New York, NY 10009"

In [81]:
addy = data_man['full_addr'][0]
geocoded_location = client.geocode(addy)
geocoded_location.coords

GeocodioAuthError: ignored

In [53]:
geolist = list(df.full_addr.values)
len(geolist)

346470

In [54]:
geoman = list(data_man.full_addr.values)
len(geoman)

74637

In [66]:
geoman[0]

'264 East 7th Street, New York, NY 10009'

2489: 0 - 2488

In [92]:
man_coord = []

for i in range(2490, 5000):
    geocoded_location = client.geocode(geoman[i])
    man_coord.append(geocoded_location.coords)

GeocodioAuthError: ignored

In [85]:
len(man_coord_9000)

2489

In [86]:
   # Save a dictionary into a pickle file.
   import pickle
 
   pickle.dump(man_coord_9000, open("manh_0-2488.pickle", "wb"))

In [58]:
geoman_1 = geoman[0:9000]
geoman_2 = geoman[9000:18000]
geoman_3 = geoman[18000:27000]
geoman_4 = geoman[27000:36000]
geoman_5 = geoman[36000:45000]
geoman_6 = geoman[45000:54000]
geoman_7 = geoman[54000:63000]
geoman_8 = geoman[63000:72000]
geoman_9 = geoman[72000:]

In [93]:
data_man.head()

,boro,NTA,bldg_cl_cat,tax_cl_pres,block,lot,bldg_cl_pres,address,apt_no,zip,res_un,com_un,total_un,land_sf,gross_sf,yr_blt,tax_cl_TOS,bldg_cl_TOS,sale_price,sale_date,sale_age,bc_comp,full_addr
0,1,Alphabet City,03 Three Family Dwellings,1,376,24,C0,264 East 7th Street,,10009,3,0,3,2059,3696,1900-01-01,1.0,C0,7738700,2016-12-22,116,1,"264 East 7th Street, New York, NY 10009"
1,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3rd Street, 3e",,10009,0,0,0,0,0,1920-01-01,2.0,C6,390000,2016-06-16,96,1,"327 East 3rd Street, 3e, New York, NY 10009"
2,1,Alphabet City,09 Coops - Walkup Apartments,2,373,40,C6,"327 East 3 Street, 1c",,10009,0,0,0,0,0,1920-01-01,2.0,C6,1,2016-09-06,96,1,"327 East 3 Street, 1c, New York, NY 10009"
3,1,Alphabet City,09 Coops - Walkup Apartments,2,373,46,C6,"317 East 3rd Street, 9",,10009,0,0,0,0,0,1925-01-01,2.0,C6,635000,2016-02-18,91,1,"317 East 3rd Street, 9, New York, NY 10009"
4,1,Alphabet City,09 Coops - Walkup Apartments,2,373,49,C6,"311 East 3rd Street, 24",,10009,0,0,0,0,0,1920-01-01,2.0,C6,465000,2016-01-11,96,1,"311 East 3rd Street, 24, New York, NY 10009"

In [94]:
man_upload = data_man[['block', 'lot', 'full_addr']]
man_upload

       block   lot                                       full_addr
0        376    24         264 East 7th Street, New York, NY 10009
1        373    40     327 East 3rd Street, 3e, New York, NY 10009
2        373    40       327 East 3 Street, 1c, New York, NY 10009
3        373    46      317 East 3rd Street, 9, New York, NY 10009
4        373    49     311 East 3rd Street, 24, New York, NY 10009
...      ...   ...                                             ...
74632   2180  1245    736 West 187 Street, 208, New York, NY 10033
74633   2180  1248  736 West 187th Street, 302, New York, NY 10033
74634   2180  1283    736 West 187 Street, Ph1, New York, NY 10033
74635   2180  1429      69 Bennett Avenue, 309, New York, NY 10033
74636   2180  1443      69 Bennett Avenue, 503, New York, NY 10033

[74637 rows x 3 columns]

In [95]:
man_upload.to_csv('man_upload.csv')